@{
    ViewBag.Title = "Contact";
}

<div class="col-md-9">
<h3>Contact gegevens</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Voornaam</th>
      <th scope="col">Achternaam</th>
      <th scope="col">Bedrijf</th>
      <th scope="col">E-mail</th>
      <th scope="col">Nummer</th>
                
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Arjo</td>
      <td>Detering</td>
      <td>Windesheim Flevoland</td>
      <td>Test@gmail.nl</td>
      <td>06 382340989</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Maarten</td>
      <td>Graaf</td>
      <td>Windesheim Flevoland</td>
      <td>Test@gmail.nl</td>
      <td>06 327849283</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Manish</td>
      <td>Kanhai</td>
      <td>Windesheim Flevoland</td>
      <td>Test@gmail.nl</td>
      <td>06 812006445</td>
    </tr>
  </tbody>
</table>
<td></td>
